{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Visualizing Housing Data {% endblock %}</h1>
Below, the website is preloaded with housing data from the UCI ML Repository. It is organized as follows as well as some other data from the curators:
<link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/data_viz.css')}}">

<p>
<ol type="2" id ="outer">

    <li>Title: Boston Housing Data</li>

    <li>Sources:
       <ul>(a) Origin:  This dataset was taken from the StatLib library which is
                    maintained at Carnegie Mellon University.</ul>
       <ul>(b) Creator:  Harrison, D. and Rubinfeld, D.L. 'Hedonic prices and the 
                     demand for clean air', J. Environ. Economics & Management,
                     vol.5, 81-102, 1978.</ul>
       <ul>(c) Date: July 7, 1993</ul>
    </li>

    <li>
        Past Usage:
        -   Used in Belsley, Kuh & Welsch, 'Regression diagnostics ...', Wiley, 
            1980.   N.B. Various transformations are used in the table on
            pages 244-261.
         -  Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning.
            In Proceedings on the Tenth International Conference of Machine 
            Learning, 236-243, University of Massachusetts, Amherst. Morgan
            Kaufmann.
    </li>

    <li>
    Relevant Information:

    <ul> Concerns housing values in suburbs of Boston. </ul>   
    </li>

    <li>
        Number of Instances: 506
    </li>

    <li>
        Number of Attributes: 13 continuous attributes (including "class"
        attribute "MEDV"), 1 binary-valued attribute.
    </li>

    <li>
    Attribute Information:
        <ol> 
            <li>CRIM      per capita crime rate by town</li> 
            <li>ZN        proportion of residential land zoned for lots over 25,000 sq.ft. </li>
            <li>INDUS     proportion of non-retail business acres per town</li> 
            <li>CHAS      Charles River dummy variable (= 1 if tract bounds 
                        river; 0 otherwise)</li>
            <li> NOX       nitric oxides concentration (parts per 10 million)</li>
           <li> RM        average number of rooms per dwelling</li>
            <li> AGE       proportion of owner-occupied units built prior to 1940</li>
            <li>DIS       weighted distances to five Boston employment centres</li>
            <li> RAD       index of accessibility to radial highways</li>
            <li> TAX      full-value property-tax rate per $10,000 </li>
            <li> PTRATIO  pupil-teacher ratio by town </li>
            <li>B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks 
                        by town </li>
            <li>LSTAT    % lower status of the population </li>
            <li> MEDV     Median value of owner-occupied homes in $1000's </li>
        </ol>
    </li>
    <li>
        Missing Attribute Values:  None.


    </li>
</ol>



</p>

<h1> Min and Max of Various Tuples</h1>
<p>
Below, there is a form you can submit if you are interested in finding out which house has the highest number of each category.
<form action="/data_viz" method = "POST">
    <p>Attribute <input type = "text" name = "Attribute" /></p>
    <input type="submit" name="max" value = "Search">
</form>
</p>

{% if '' in ret %}
<p> {{ret}}</p>
<br>
{% endif %}




<p>
    Below, there is a form you can submit if you are interested in finding out which house has the lowest number of each category.
    <form action="/data_viz" method = "POST">
        <p>Attribute <input type = "text" name = "Attribute" /></p>
        <input type="submit" name="min" value = "Search">
    </form>
</p>

{% if '' in ret2%}
<p> {{ret2}}</p>
<br>
{% endif %}

<h2>Relationship between Two Variables</h2>
    <p>Using the dropdown below, select two variables and a graph will be displayed below.
        <br>
        <form action="/data_viz" method = "POST">
            <input type="checkbox" id="CRIM" name="vals" value="CRIM">
            <label for="CRIM"> CRIM</label>
            <input type="checkbox" id="ZN" name="vals" value="ZN">
            <label for="ZN"> ZN</label>
            <input type="checkbox" id="INDUS" name="vals" value="INDUS">
            <label for="INDUS">INDUS</label>
            <input type="checkbox" id="CHAS" name="vals" value="CHAS">
            <label for="CHAS">CHAS</label>
            <input type="checkbox" id="NOX" name="vals" value="NOX">
            <label for="NOX">NOX</label>
            <input type="checkbox" id="RM" name="vals" value="RM">
            <label for="RM">RM</label>
            <input type="checkbox" id="AGE" name="vals" value="AGE">
            <label for="AGE">AGE</label>
            <input type="checkbox" id="DIS" name="vals" value="DIS">
            <label for="DIS">DIS</label>
            <input type="checkbox" id="RAD" name="vals" value="RAD">
            <label for="RAD">RAD</label>
            <input type="checkbox" id="TAX" name="vals" value="TAX">
            <label for="TAX">TAX</label>
            <input type="checkbox" id="PTRATION" name="vals" value="PTRATION">
            <label for="PTRATION">PTRATION</label>
            <input type="checkbox" id="B" name="vals" value="B">
            <label for="B">B</label>
            <input type="checkbox" id="LSTAT" name="vals" value="LSTAT">
            <label for="LSTAT">LSTAT</label>
            <input type="checkbox" id="MEDV" name="vals" value="MEDV">
            <label for="MEDV">MEDV</label>
            <input type="submit" name="submit_graphs" value ="Generate Graphs">
    </form>
    </p>
    {% if fig == 'succ'%}
        <p>The scatterplot is below</p>
        <br>
        <img src={{url_for('static', filename='created/created.png') }}>
    {% endif %}
    
{% endblock %}